@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Admin_Panel.Areas.SEC_User.Models;
@using Admin_Panel.BAL;
@model SEC_UserModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        <li>@CommonVariable.UserID()</li>
    </ul>
    <img src="@CommonVariable.PhotoPath()" height="100" width="100" class="image-thumbnail"/>
</div>
